<template>
  <div
    class="map">
    <client-only>
      <MglMap
        access-token="pk.eyJ1IjoiZGltYTE1MDEiLCJhIjoiY2p4aXcydHZmMDA1NjN0bzdrOHUxeWs3eCJ9.1CwUTHoTLPGSpkx0_4I8eg"
        mapStyle="mapbox://styles/dima1501/ck9bke9bn047z1ipldiyuop6i"
        @load="onMapLoaded"
        :zoom='9'
        :center="$store.state.map.center"
        v-on:click="hideSidebar()">
        
        <MglMarker
          v-for='(marker, key) in getMapMeetings'
          v-bind:key='key'
          :coordinates="marker.coords"
          color="green"
          v-if="marker.status == 'public' && 
          getMapBounds._ne && 
          checkBounds([marker.coords[0], marker.coords[1]])"
          v-on:click="loadPopupData(marker.id)"
          >
            <MglPopup>
                <div class="vm-card">
                    <div class="vm-card__inner" v-if='getPopupMeeting.status == "public"'>
                      <div class="vm-card__content">
                        <div class="vm-card__title">{{ getPopupMeeting.title }}</div>
                        <div  >{{getPopupMeeting.subtitle}}</div> 
                        <div class="vm-card__reqs">
                          <div
                            v-for="(option, key) in getPopupMeeting.reqs"
                            v-bind:key="key"
                            class="vm-card__reqs-item">{{ option }}</div>
                        </div>
                      </div>
                      <div class="vm-card__bottom">
                        <div class="vm-card__bottom-item">
                          <a class="vm-card__join" v-on:click="openMeeting(getPopupMeeting)">Подробнее</a>
                        </div>
                        <div class="vm-card__bottom-item">
                          <a class="vm-card__join" v-on:click="openChat(getPopupMeeting)">Чат</a>
                        </div>
                        <div class="vm-card__bottom-item">
                          <div class="vm-card__peoples">{{ getPopupMeeting.peoples }} Участник(ов)</div>
                        </div>
                      </div>
                    </div>
                    <div class='vm-card__inner' v-if='getPopupMeeting.status == "pending"'>
                      <div class='vm-card__title'>Информация о митинге на модерации</div>
                    </div>
                </div>
            </MglPopup>
        </MglMarker>

        <MglMarker
          v-for='marker in getMyMeetings'
          v-bind:key='marker.id'
          :coordinates="marker.coords"
          color='orange'
          v-if="marker.status !== 'public' && 
          getMapBounds._ne && 
          checkBounds([marker.coords[0], marker.coords[1]])"
          v-on:click="openMeetings(marker.id)"
          >
        </MglMarker>

        <MglMarker
          v-if="getNewMarker.visible && getNewMarker.coords"
          :coordinates="getNewMarker.coords">
        </MglMarker>

      </MglMap>
    </client-only>

    <a 
      class="map__button btn btn--blue" 
      v-on:click="$store.dispatch('view/togglePopup', 'registration')"
      v-if="!getUser"
      >Регистрация / вход</a>
      
      <div class="map__buttons">
        <transition name="fade">
          <div v-if="show" class="map__buttons-item" data-tooltip="Мое местоположение">
            <a v-on:click="findMe()">
              <v-icon class="over" color="black" v-if="loadLocation">{{ myLocationIcon }}</v-icon>
              <v-icon color="black">{{ myLocationIconPoint }}</v-icon>
            </a>
          </div>
        </transition>
        <transition name="fade" v-if="getUser">
          <div v-if="show" class="map__buttons-item" data-tooltip="Создать митинг">
            <a v-on:click="createMeeting()"><v-icon color="black">{{ createMeetingIcon }}</v-icon></a>
          </div>
        </transition>
        <transition name="fade" v-if="getUser">
          <div v-if="show" class="map__buttons-item" data-tooltip="Мои митинги">
            <a v-on:click='myMeetings()'><v-icon>{{ myMeetingsIcon }}</v-icon></a>
          </div>
        </transition>
        <transition name="fade">
          <div v-if="show" class="map__buttons-item" data-tooltip="Инфо">
            <a v-on:click="$store.dispatch('view/togglePopup', 'info')"><v-icon>{{ infoIcon }}</v-icon></a>
          </div>
        </transition>
        <!-- <transition name="fade">
          <div v-if="show" class="map__buttons-item" data-tooltip="Gitlab">
            <a href="https://gitlab.com/Dima1501/mtngs" target="_blank"><v-icon>{{ gitlabIcon }}</v-icon></a>
          </div>
        </transition> -->
      </div>

    <transition name="fade">  
      <div v-if="$store.state.view.map.create" class="map__create">
        <div class="map__create-item">
          Нажмите на карту чтобы поставить метку
        </div>
        <div v-on:click="cancelCreate()" class="map__create-item btn btn--red">
          Отмена
        </div>
        <transition name="fade"> 
          <div v-if="getNewMarker.coords" v-on:click="startCreate()" class="map__create-item btn btn--blue">
            Создать
          </div>
        </transition>
      </div>
    </transition>

  </div>
</template>

<script>

var firebase = require("firebase/app");

require("firebase/auth");
require("firebase/firestore");

import Vue from 'vue'
import Vuetify from 'vuetify'

import { mdiMapMarkerPlusOutline } from '@mdi/js';
import { mdiFormatListBulleted } from '@mdi/js';
import { mdiAccountGroup } from '@mdi/js';
import { mdiInformationOutline } from '@mdi/js';
import { mdiCrosshairs } from '@mdi/js';
import { mdiCrosshairsGps } from '@mdi/js';
import { mdiGitlab } from '@mdi/js';
import { linkify } from 'vue-linkify';

import { mapGetters } from "vuex";

Vue.directive('linkified', linkify)
Vue.use(Vuetify)

export default {

  data() {
    return {
      markers: [],
      count: 1,
      createMeetingIcon: mdiMapMarkerPlusOutline,
      myMeetingsIcon: mdiFormatListBulleted,
      peoplesIcon: mdiAccountGroup,
      infoIcon: mdiInformationOutline,
      myLocationIcon: mdiCrosshairsGps,
      myLocationIconPoint: mdiCrosshairs,
      gitlabIcon: mdiGitlab,
      show: false,
      loadLocation: false
    }
  },

  created() {
    this.$store.state.map.map = null;
  },

  mounted() {
    this.$store.dispatch('meetings/loadMapMeetings', {})

    const appHeight = () => {
      const doc = document.documentElement
      doc.style.setProperty('--app-height', `${window.innerHeight}px`)
    }
    window.addEventListener('resize', appHeight)
    appHeight()
  },

  computed: {
    ...mapGetters({
      getPopupMeeting: 'meetings/getPopupMeeting',
      getMapMeetings: 'meetings/getMapMeetings',
      getMyMeetings: 'meetings/getMyMeetings',
      getNewMarker: 'map/getNewMarker',
      getActivePopup: 'view/getActivePopup',
      getUser: 'auth/getUser',
      getMapState: 'map/getMapState',
      getMapBounds: 'map/getMapBounds'
    })
  },

  methods: {

    checkBounds(marker) {
      if (marker[1] < this.getMapBounds._ne.lat && 
          marker[1] > this.getMapBounds._sw.lat && 
          marker[0] > this.getMapBounds._sw.lng && 
          marker[0] < this.getMapBounds._ne.lng) {
        return true
      }
    },

    openMeetings(id) {
      setTimeout(() => {
        this.$store.dispatch('view/toggleSidebar', 'meetings', {root:true})
      }, 0);
    },

    findMe() {
      if (navigator && "geolocation" in navigator && !window.location.hash) { 
        this.loadLocation = true
        navigator.geolocation.getCurrentPosition(position => { 
            this.$store.state.map.map.panTo([position.coords.longitude, position.coords.latitude])
            this.loadLocation = false
        }); 
      } else { 
         this.$store.dispatch('view/showNotify', 'Локация не доступна', {root: true})
       }
    },

    hideSidebar() {
      this.$store.commit('view/hideSidebar')
    },
    
    onMapLoaded(event) {
      let map = event.map
      let that = this
      that.$store.dispatch('meetings/checkHash', {})
      that.$store.state.map.map = event.map;
      that.show = true

      if (!this.getUser) {
        this.$store.dispatch("view/togglePopup", 'info')
      }

      that.$store.commit('map/setBounds', map.getBounds())

      map.on('move', function() {
        that.$store.commit('map/setBounds', map.getBounds())
      })

      console.log('Ну привет!')
    },

    logOut() {
      this.$store.dispatch('auth/logOut', {})
    },

    cancelCreate() {
      this.$store.commit('view/toggleCreate', false)
      this.getNewMarker.visible = false
    },

    createMeeting() {
      let that = this
      let map = that.getMapState

      that.getNewMarker.visible = true
      
      that.$store.commit('view/hideSidebar')

      that.getMapState.on('click', function(e) {
        if (that.getNewMarker.visible) {
          let newCoords = [e.lngLat.lng, e.lngLat.lat] 
          that.getNewMarker.coords = newCoords
          map.panTo(newCoords)
        }
      });

      this.$store.commit('view/toggleCreate', true)
    },

    startCreate() {
      this.$store.commit('view/togglePopup', 'create_meeting')
    },

    myMeetings() {
      this.$store.dispatch("view/toggleSidebar", "meetings")
      this.$store.dispatch("meetings/loadMyMeetings", null)
    },

    openMeeting(meeting) {
      this.$store.dispatch("meetings/openMeeting", meeting)
    },

    openChat(meeting) {
      this.$store.commit('meetings/togglePreviewMeeting', meeting, {root: true})
      this.$store.dispatch('meetings/loadChat', meeting.id, {root: true})
    },

    loadPopupData(data) {
      this.$store.dispatch("meetings/loadPopupData", data)
    }
  }
}
</script>

<style lang="scss">
    @import 'assets/styles/map';
    @import 'assets/styles/mapbox';
    @import 'assets/styles/vm-card';
</style>



