<template lang='pug'>
    .notify(v-bind:class="{ 'notify--visible': $store.state.view.notify.visible }")
        .notify__message {{$store.state.view.notify.message}}
</template>

<style lang='scss'>
    @import 'assets/styles/notify';
</style>

