<template lang='pug'>
    .popup(v-if="getActivePopup")

        .popup__container(v-if="getActivePopup == 'info'")
            .popup__closer(v-on:click="$store.dispatch('view/togglePopup', '')") +
            .popup__content
                .info
                    h3.info__line Привет, тут можно создать или присоединиться к онлайн митингу, а также поучаствовать в его обсуждении и поделиться ссылкой со знакомыми, чтобы обратить внимание правительства на ту или иную проблему
                    .info__line
                        .info__line-title По вопросам и предложениям
                        a(href="mailto:mtngsonline@yandex.ru").link mtngsonline@yandex.ru
                    .info__line
                        .info__line-title Я в <a href='https://www.instagram.com/dima.voropaev/' target='_blank' class='link'>instagram</a>

                    .info__logout(v-if="getAuthData.user")
                        a(v-on:click='logOut()').link.-red Выход

        .popup__container(v-if="getActivePopup == 'leave_meeting'")
            .popup__closer(v-on:click="$store.dispatch('view/togglePopup', '')") +
            .popup__content
                .popup__ask
                    .popup__ask-message Покинуть митинг?
                    .popup__ask-options
                        .popup__ask-options-item Да
                        .popup__ask-options-item Нет

        .popup__container(v-if="getActivePopup == 'create_meeting'")
            .popup__closer(v-on:click="$store.dispatch('view/togglePopup', '')") +
            .popup__content
                .popup__title Создание митинга
                form(@submit.prevent="create()").popup__form
                    .popup__form-line
                        label.popup__form-label Заголовок мининга*
                        input(required v-model="getCreateData.title").popup__form-input
                    .popup__form-line
                        label.popup__form-label Описание*
                        textarea(required v-model="getCreateData.subtitle").popup__form-textarea
                    .popup__form-line
                        label.popup__form-label Требования*
                        input(
                            required
                            v-for="(req, key) in getCreateData.reqsLen" v-bind:key="key"
                            v-model="getCreateData.reqs[key]"
                            ).popup__form-input
                        .popup__form-controls
                            <span v-on:click="addReqLine()">Добавить</span>
                            <span v-on:click="removeReqLine()">Удалить</span>
                    .popup__form-button
                        button(type='submit').btn.btn--blue Создать митинг

        .popup__container(v-if="getActivePopup == 'change_meeting' && getEditMeeting")
            .popup__closer(v-on:click="$store.dispatch('view/togglePopup', '')") +
            .popup__content
                .popup__title Изменение митинга
                form(@submit.prevent="edit(getEditMeeting)").popup__form
                    .popup__form-line
                        label.popup__form-label Заголовок мининга*
                        input.popup__form-input(required v-model="getEditMeeting.title")
                    .popup__form-line
                        label.popup__form-label Описание*
                        textarea(required v-model="getEditMeeting.subtitle").popup__form-textarea
                    .popup__form-line
                        label.popup__form-label Требования
                        input(
                            required
                            v-for="(req, i) in getEditMeeting.reqsLen" v-bind:key="i"
                            v-model="getEditMeeting.reqs[i]"
                            ).popup__form-input
                        .popup__form-controls
                            <span v-on:click="addEditReqLine()">Добавить</span>
                            <span v-on:click="removeEditReqLine()">Удалить</span>
                    .popup__form-button
                        button(type='submit').btn.btn--blue Сохранить изменения


        .popup__container(v-if="getActivePopup == 'registration'")
            .popup__closer(v-on:click="$store.dispatch('view/togglePopup', '')") +
            .popup__content
                .popup__title Регистрация
                form(@submit.prevent="registration()").popup__form
                    .popup__form-line
                        label.popup__form-label Имя*
                        input(v-model='getAuthData.registration.name').popup__form-input
                    .popup__form-line
                        label.popup__form-label Email*
                        input(v-model='getAuthData.registration.email').popup__form-input
                    .popup__form-line
                        label.popup__form-label Пароль*
                        input(v-model='getAuthData.registration.password' type='password').popup__form-input
                    .popup__form-button
                        button(type='submit').btn.btn--blue Создать аккаунт
                    .popup__form-bottom
                        .popup__form-bottom-item
                            a(v-on:click="$store.dispatch('view/togglePopup', 'sign_in')").popup__form-link.link Вход
                        .popup__form-bottom-item
                            a(v-on:click="$store.dispatch('view/togglePopup', 'restore_password')").popup__form-link.link Восстановить пароль

        .popup__container(v-if="getActivePopup == 'sign_in'")
            .popup__closer(v-on:click="$store.dispatch('view/togglePopup', '')") +
            .popup__content
                .popup__title Вход
                form(@submit.prevent="signIn()").popup__form
                    .popup__form-line
                        label.popup__form-label Email
                        input(v-model='getAuthData.sign_in.email').popup__form-input
                    .popup__form-line
                        label.popup__form-label Пароль
                        input(v-model='getAuthData.sign_in.password' type='password').popup__form-input
                    .popup__form-button
                        button(type='submit').btn.btn--blue Войти
                    .popup__form-bottom
                        .popup__form-bottom-item
                            a(v-on:click="$store.dispatch('view/togglePopup', 'registration')").popup__form-link.link Регистрация
                        .popup__form-bottom-item
                            a(v-on:click="$store.dispatch('view/togglePopup', 'restore_password')").popup__form-link.link Восстановить пароль

        .popup__container(v-if="getActivePopup == 'restore_password'")
            .popup__closer(v-on:click="$store.dispatch('view/togglePopup', '')") +
            .popup__content
                .popup__title Восстановить пароль
                form(@submit.prevent="restorePassword()").popup__form
                    .popup__form-line
                        label.popup__form-label Email
                        input(v-model='getAuthData.restore.email').popup__form-input
                    .popup__form-button
                        button(type='submit').btn.btn--blue Восстановить
                    .popup__form-bottom
                        .popup__form-bottom-item
                            a(v-on:click="$store.dispatch('view/togglePopup', 'registration')").popup__form-link.link Регистрация
                        .popup__form-bottom-item
                            a(v-on:click="$store.dispatch('view/togglePopup', 'sign_in')").popup__form-link.link Вход
</template>

<script>

import { mapGetters } from "vuex";

export default {
    data() {
        return {
            
        }
    },

    computed: {
        ...mapGetters({
            getActivePopup: 'view/getActivePopup',
            getAuthData: 'auth/getAuthData',
            getCreateData: 'create/getCreateData',
            getEditMeeting: 'meetings/getEditMeeting'
        })
    },

    methods: {

        logOut() {
            this.$store.dispatch('auth/logOut', {})
        },

        edit(meeting) {
            this.$store.state.view.popups.activePopup = ''
            this.$store.state.meetings.editMeeting.status = 'pending'
            this.$store.dispatch('create/editMeeting', meeting)
        },

        addReqLine() {
            this.$store.commit('create/addReqLine', {})
        },

        addEditReqLine() {
            this.$store.state.meetings.editMeeting.reqsLen += 1
            this.$store.state.meetings.editMeeting.reqs.push('')
        },

        removeEditReqLine() {
            if (this.$store.state.meetings.editMeeting.reqsLen > 1) {
                this.$store.state.meetings.editMeeting.reqsLen -= 1
                this.$store.state.meetings.editMeeting.reqs.pop()
            }
        },

        removeReqLine() {
            this.$store.commit('create/removeReqLine', {})
        },

        restorePassword() {
            this.$store.dispatch('auth/restorePassword', this.$store.state.auth.restore)
        },

        signIn() {
            this.$store.dispatch('auth/signIn', this.$store.state.auth.sign_in)
        },

        registration() {
            this.$store.dispatch('auth/registration', this.$store.state.auth.registration)
        },

        create() {
            let data = {
                coords: this.$store.state.map.newMarker.coords,
                title: this.$store.state.create.title,
                subtitle: this.$store.state.create.subtitle,
                reqs: this.$store.state.create.reqs,
                author: this.$store.state.auth.user.uid,
                authorName: this.$store.state.auth.user.displayName,
                status: 'pending',
                id: null
            }
            this.$store.dispatch('create/createMeeting', data)
        }
    },

    created() {
        this.$store.dispatch('auth/authStateChange', this.$store.state.auth.authStateChange)
    }
}
</script>

<style lang="scss">
    @import 'assets/styles/popup';
    @import 'assets/styles/info';
</style>


