<template lang='pug'>
transition(name="fade")
    .sidebar(v-if="getSidebarType")
        .sidebar__closer(v-on:click="$store.dispatch('view/toggleSidebar', '')")
        .sidebar__preview(v-if="getSidebarType == 'preview' && getPreviewMeeting")
            .sidebar__preview-inner
                .sidebar__title {{ getPreviewMeeting.title }}
                .sidebar__subtitle(v-linkified) {{ getPreviewMeeting.subtitle }}
                .sidebar__author Автор: {{ getPreviewMeeting.authorName }}
                a.sidebar__link(v-on:click="copy(getPreviewMeeting)")  {{ 'https://mtngs.online/#' + getPreviewMeeting.id }}
                .sidebar__reqs
                    .sidebar__reqs-item(v-for="(req, key) in getPreviewMeeting.reqs" v-bind:key="key" v-linkified) {{ req }}
            div.sidebar__btn

                a.btn.btn--blue(
                    v-on:click="openChat(getPreviewMeeting.id)"
                    ) Чат

                a.btn.btn--transp(
                    v-on:click="supportMeeting(getPreviewMeeting.id)"
                    v-if="getAuthData.user && getAuthData.user.uid !== getPreviewMeeting.author && getPreviewMeeting.participants.indexOf(getAuthData.user.uid) == -1"
                    ) Участвовать ({{ getPreviewMeeting.peoples }})
                a.btn.btn--transp(
                    v-on:click="exitMeeting(getPreviewMeeting.id)"
                    v-if="getAuthData.user && getAuthData.user.uid !== getPreviewMeeting.author && getPreviewMeeting.participants.indexOf(getAuthData.user.uid) > -1"
                    ) Покинуть митинг

        transition(name="fade")
            .sidebar__chat(v-if="getSidebarType == 'chat'")
                .chat
                    .chat__top
                        .chat__top-item
                            .chat__info(v-on:click="$store.dispatch('view/toggleSidebar', 'preview')").link инфо
                            .chat__leave(
                                v-on:click="supportMeeting(getPreviewMeeting.id)"
                                v-if="getAuthData.user && getAuthData.user.uid !== getPreviewMeeting.author && getPreviewMeeting.participants.indexOf(getAuthData.user.uid) == -1"
                                ).link Участвовать
                            .chat__leave(
                                v-on:click="exitMeeting(getPreviewMeeting.id)"
                                v-if="getAuthData.user && getAuthData.user.uid !== getPreviewMeeting.author && getPreviewMeeting.participants.indexOf(getAuthData.user.uid) > -1"
                                ).link Покинуть
                        .chat__top-item.-center
                            .chat__name {{ getPreviewMeeting.title }}
                            a.sidebar__link(v-on:click="copy()")
                        .chat__top-item
                            .chat__peoples {{ getPreviewMeeting.peoples }} <v-icon>{{ mdiAccount }}</v-icon>
                    .chat__messages(v-chat-scroll="{always: false, smooth: false, scrollonremoved:false, smoothonremoved: false}")
                        .chat__message(
                            v-for="(message, key) in $store.state.meetings.chat.messages" 
                            v-bind:key="key"
                            v-if="message.author"
                            v-bind:class="{ '-creator' : getPreviewMeeting.author == message.authorId, '-me' : getAuthData.user.uid == message.authorId }")
                            .chat__message-author {{ message.author }}
                            .chat__message-text-wrapper
                                .chat__message-text(
                                    v-linkified:options="{ ignoreTags: ['style', 'button']}"
                                    v-for="(message, key) in (formatMessage(message.message))"
                                    v-bind:key="key"
                                    ) {{ message }}
                    form(
                        @submit.prevent="sentMessage(getPreviewMeeting.chatId)"
                        v-if="getAuthData.user.uid"
                    ).chat__controls
                        .chat__controls-emoji
                            <v-icon>{{ emojiIcon }}</v-icon>
                            <picker set="apple" :emojiTooltip="false" :emojiSize="20" @select="emojiFallback"/>
                        textarea(
                            v-model="message" 
                            required 
                            v-on:keyup.enter.cntrl="addNewLine()"
                            v-on:keyup.enter.exact="sentMessage(getPreviewMeeting.chatId)"
                            ).chat__textarea
                        button(type='submit').chat__button.btn.btn--blue Отправить
                    .chat__button
                        a(class='btn btn--blue' v-if="!getAuthData.user.uid" v-on:click="$store.dispatch('view/togglePopup', 'registration')") Регистрация
        transition(name="fade")
            .sidebar__meetings(v-if="getSidebarType == 'meetings'")
                .sidebar__meetings-preloader(v-if="$store.state.view.preloader.myMeetings")
                .sidebar__meetings-title Мои митинги <span v-on:click='myMeetings()' class="link -small">обновить</span>
                .sidebar__meetings-note(
                    v-if='getMyMeetings.length < 1'
                ) Вы пока не создавали митингов, <span class='link' v-on:click='createMeeting()'>нажмите тут</span>, чтобы создать
                .sidebar__meetings-inner
                    .m-card(v-for="(meeting, key) in getMyMeetings" v-bind:key="key")
                        .m-card__title {{ meeting.title }}
                        .m-card__descr(v-linkified) {{ meeting.subtitle }}
                        .m-card__descr(v-if="meeting.participants > 1" v-linkified) {{ meeting.participants.length - 1 }} участник(ов)
                        .m-card__reqs(v-linkified)
                            .m-card__req(v-for="(req, key) in meeting.reqs" v-bind:key="key") {{ req }}
                        .m-card__controls
                            .m-card__controls-item(v-on:click="editMeeting(meeting)").btn.btn--transp Изменить
                            .m-card__controls-item(v-on:click="deleteMeeting(meeting)").btn.btn--red Удалить
                            .m-card__controls-item
                                .m-card__status(
                                    v-bind:class="getStatusClass(meeting.status)"
                                    ) {{ getStatusString(meeting.status) }}
                        .m-card__link.link(
                            v-if="meeting.status == 'public'"
                            v-on:click="copy(meeting)"
                            ) {{ "https://mtngs.online/#" + meeting.id}}
</template>

<script>
import Vue from 'vue'
import { Picker } from 'emoji-mart-vue'
import ClickOutside from 'vue-click-outside'
import linkify from 'vue-linkify'
import VueChatScroll from 'vue-chat-scroll'

import { mdiEmoticon } from '@mdi/js';
import { mdiAccount } from '@mdi/js';

import { mapGetters } from "vuex";

Vue.directive('linkified', linkify)
Vue.use(VueChatScroll)

export default {

    components: {
        Picker
    },

    data() {
        return {
            message: '',
            emojiIcon: mdiEmoticon,
            mdiAccount: mdiAccount
        }
    },

    computed: {
        ...mapGetters({
            getAuthData: 'auth/getAuthData',
            getPreviewMeeting: 'meetings/getPreviewMeeting',
            getMyMeetings: 'meetings/getMyMeetings',
            getSidebarType: 'view/getSidebarType'
        })
    },

    methods: {

        createMeeting() {
            // todo Функция дублируется в map.vue
            let that = this
            let map = that.$store.state.map.map

            that.$store.state.map.newMarker.visible = true
            
            that.$store.commit('view/hideSidebar')

            that.$store.state.map.map.on('click', function(e) {
                if (that.$store.state.map.newMarker.visible) {
                    let newCoords = [e.lngLat.lng, e.lngLat.lat] 
                    that.$store.state.map.newMarker.coords = newCoords
                    map.panTo(newCoords)
                }
            });

            that.$store.commit('view/toggleCreate', true)
        },

        myMeetings() {
            this.$store.dispatch("meetings/loadMyMeetings", null)
        },

        getStatusString(status) {
            if (status == 'public') {
                return 'Опубликован'
            } else if (status == 'pending') {
                return 'На модерации'
            } else {
                return 'Отклонен'
            }
        },

        getStatusClass(status) {
            if (status == 'public') {
                return '-public'
            } else if (status == 'pending') {
                return '-pending'
            } else {
                return '-rejected'
            }
        },

        addNewLine() {
            this.message = this.message + '\n'
        },

        formatMessage(message) {
            return message.split("\n")
        },

        copy(meeting) {
            let link

            if (meeting) {
                link = 'https://mtngs.online/#' + meeting.id

                // todo Это тут тоже не нужно, надо в отдельный метод вынести, а пока так)

            } else {
                link = 'https://mtngs.online/#' + this.$store.state.meetings.previewMeeting.id
            }
            
            navigator.clipboard.writeText(link)
                .then(() => {
                    this.$store.dispatch('view/showNotify', 'Ссылка скопирована!', {root: true})
                })
                .catch(err => console.log(err))
        },

        editMeeting(meeting) {
            this.$store.commit('meetings/setEditMeeting', meeting)
            this.$store.state.view.popups.activePopup = 'change_meeting'
        },

        supportMeeting(id) {
            this.$store.state.meetings.previewMeeting.participants.push(this.$store.state.auth.user.uid)
            let data = {
                id: id,
                participants: this.getPreviewMeeting.participants
            }
            this.$store.dispatch('meetings/supportMeeting', data, {root: true})
        },

        exitMeeting(id) {
            let participants = this.getPreviewMeeting.participants
            let index = participants.indexOf(this.$store.state.auth.user.uid);
            if (index !== -1) participants.splice(index, 1);
            let data = {
                id: id,
                participants: participants
            }
            this.$store.dispatch('meetings/exitMeeting', data, {root: true})
        },

        emojiFallback(emoji) {
            this.message += emoji.native
        },

        deleteMeeting(id) {
            this.$store.dispatch('meetings/deleteMeeting', id.id, {root: true})
        },

        openChat(id) {
            this.$store.dispatch('meetings/loadChat', id, {root: true})
        },

        sentMessage(id) {
            if (/\S/.test(this.message)) {
                let data = {
                    message: this.message,
                    author: this.$store.state.auth.user.displayName,
                    authorId: this.$store.state.auth.user.uid,
                    id: id
                }
                this.$store.dispatch('meetings/sentMessage', data, {root: true})
                let int = setTimeout(() => {
                    this.message = ''
                    clearInterval(int)
                }, 1);
            } else {
                console.log('error, message is empty')
            }
        }
    }
}
</script>

<style lang="scss">
    @import 'assets/styles/sidebar';
    @import 'assets/styles/m-card';
    @import 'assets/styles/chat';
</style>
