.btn {
    align-items: center;
    display: inline-block;
    padding: 5px 14px;
    color: #ffffff !important;
    transition: background-color .3s;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.0892857em;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
  
    &--blue {
      background-color: #1867c0;
  
      &:hover {
        background-color: lighten(#1867c0, 10%);
      }
    }
  
    &--red {
      background-color: #ff5252;
  
      &:hover {
        background-color: lighten(#ff5252, 10%);
      }
    }
  
    &--transp {
      color: #000 !important;
      background-color: lighten(#ccc, 15%);
  
      &:hover {
        background-color: lighten(#ccc, 10%);
      }
    }
  }