.chat {

    &__top {
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(165, 165, 165);
        display: flex;
        justify-content: space-between;

        &-item {
            width: 65px;

            &.-center {
                width: auto;
                text-align: center;
            }
        }
    }

    &__info {
        line-height: 1.5;
    }

    &__name {
        font-weight: 500;
        font-size: 12px;
        max-width: 156px;
        overflow: hidden;
        max-height: 18px;
        line-height: 15px;

        @media screen and (min-width: 768px) {
            max-height: 19px;
            max-width: 320px;
            font-size: 18px;
            line-height: 1.1;
        }
    }

    &__peoples {
        white-space: nowrap;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        padding-top: 17px;

        @media screen and (min-width: 768px) {
            padding-top: 0;
        }

        .v-icon {
            width: 16px;
            height: 16px;
        }
    }

    &__messages {
        overflow-y: scroll;
        height: calc(var(--app-height) - 115px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media screen and (min-width: 768px) {
            height: calc(var(--app-height) - 140px);
        }
    }

    &__message {
        margin-bottom: 7px;
        max-width: 260px;
        min-width: 100px;

        &.-me {
            align-self: flex-end;
        }

        &.-creator {

            .chat__message-author {
                color: #1867c0;
            }

            .chat__message-text-wrapper {
                background-color:#1867c0;
                color: #ffffff;
            }
        }

        &-author {
            font-size: 12px;
            color: #cccccc;
        }

        &-text {

            &-wrapper {
                border-radius: 10px;
                background-color: #ccc;
                padding: 3px 7px;
                overflow: hidden;
            }
        }

        &--me {
            margin-left: auto;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        height: 49px;

        &-emoji {
            position: relative;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            cursor: pointer;
            display: none;

            @media screen and (min-width: 768px) {
                display: block;
            }

            svg {
                color: #1867c0;
            }

            &:hover {

                .emoji-mart {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .emoji-mart {
                position: absolute;
                left: 0;
                bottom: 0;
                opacity: 0;
                visibility: hidden;
                transition: opacity .3s, visibility .3s;
            }

            .emoji-mart-bar {
                display: none;
            }
        }
    }

    &__textarea {
        width: 100%;
        border: none;
        height: 100%;
        background-color: #ccc;
        border-radius: 10px;
        margin-right: 5px;
        resize: none;
        padding: 5px 10px;
    }

    &__button {
        flex-shrink: 0;
    }
}