.info {
    padding: 30px 15px;
    text-align: center;

    &__line {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        &-title {
            line-height: 1;
        }
    }
}