.m-card {
    border-bottom: 1px solid rgb(201, 201, 201);
    margin-bottom: 10px;

    &__title {
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 18px;
    }

    &__descr {
        margin-bottom: 10px;
    }

    &__reqs {
        margin-bottom: 15px;
    }

    &__req {
        position: relative;
        padding-left: 10px;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 8px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #000;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &-item {
            margin-right: 20px;
            margin-bottom: 10px;
        }
    }

    &__status {
        padding: 5px 10px;
        color: #ffffff;
        border-radius: 4px;
        font-weight: 500;
        text-transform: uppercase;

        &.-public {
            background-color: #4caf50;
        }

        &.-pending {
            background-color: #FF9800;
        }

        &.-rejected {
            background-color: #ff5252;
        }
    }

    &__link {
        margin-top: 10px;
    }
}