.map {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  
    &__button {
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px;
    }
  
    &__buttons {
      position: absolute;
      z-index: 10;
      left: 20px;
      bottom: 50%;
      transform: translateY(50%);
      display: flex;
      flex-direction: column;
  
      @media screen and (min-width: 768px) {
        left: 30px;
        bottom: 50px;
        transform: none;
      }
  
      &-item {
        margin-bottom: 20px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #fff;
        line-height: 10px;
        transition: opacity .5s, transform .3s;
        cursor: pointer;
  
        svg {
          color: #000;
        }

        .over {
          position: absolute !important;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          animation: geo 1s ease-in-out infinite;
        }
  
        &:after {
          content: attr(data-tooltip);
          position: absolute;
          left: calc(100% + 10px);
          top: 50%;
          transform: translateY(-50%);
          transition: opacity .3s;
          pointer-events: none;
          white-space: nowrap;
          opacity: 0;
          padding: 3px;
          border-radius: 3px;
          background-color: rgba(255,255,255,0.8);
        }
  
        &:hover {

          @media screen and (min-width: 768px) {
            transform: scale(1.1);
  
            &:after {
              opacity: 1;
            }
          }
        }
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  
    &__create {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      display: flex;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: #fff;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      text-align: center;
  
      @media screen and (min-width: 768px) {
        padding: 20px;
        bottom: 30px;
        flex-wrap: nowrap;
        width: auto;
        text-align: left;
        justify-content: flex-start;
      }
  
      &-item {
        margin: 0 10px 0 0;
        font-weight: 500;
  
        &:first-child {
          width: 100%;
          margin-right: 0;
          margin-bottom: 7px;
        }
  
        @media screen and (min-width: 768px) {
          margin: 0 20px 0 0;
          width: auto;
  
          &:first-child {
            margin-bottom: 0;
            margin-right: 20px;
          }
        }
  
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

@keyframes geo {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}