.mapboxgl-marker {
    top: -12px;
    animation: box .4s ease-in-out;
  
    svg {
      width: 18px;
    }
  
    @keyframes box {
      from { 
        top: -22px; 
        opacity: 0;
      }
      to { 
        top: -12px;
        opacity: 1;
      }
    }
  }
  
  .mapboxgl-popup-close-button {
    display: none;
  }
  
  .mapboxgl-popup-content {
    padding: 10px;
  }