.notify {
    position: fixed;
    left: 50%;
    transform: translateX(-50%) translateY(calc(100% + 20px));
    width: 270px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    background-color: #ffffff;
    bottom: 20px;
    transition: transform .3s;
    z-index: 100;
    border-radius: 20px;
    text-align: center;

    @media screen and (min-width: 768px) {
        width: 370px;
    }

    &--visible {
        transform: translateX(-50%) translateY(0%);
    }

    &__message {
        font-size: 14px;

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
    }
}