.popup {
    position: absolute;
    z-index: 15;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;

    &__container {
        width: 400px;
        border-radius: 5px;
        background-color: #ffffff;
        position: relative;
        margin: auto;
    }

    &__closer {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 10px;
        top: 10px;
        transform: rotate(45deg);
        font-size: 26px;
        cursor: pointer;
        
        &:after {
            content: '';
            position: absolute;
            left: -5px;
            top: -5px;
            right: -5px;
            bottom: -5px;
        }
    }

    &__title {
        font-size: 22px;
        font-weight: 500;
        padding: 15px 0;
        text-align: center;
    }

    &__form {
        padding: 0 20px;

        &-line {
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-label {
            margin-bottom: 4px;
        }

        &-input {
            width: 100%;
            border: none;
            text-align: center;
            padding: 5px 10px;
            border-radius: 4px;
            border: 1px solid rgb(204, 204, 204);
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }

            &:focus {
                border: 1px solid rgb(170, 170, 170);
            }
        }

        &-textarea {
            width: 100%;
            border: none;
            text-align: center;
            padding: 5px 10px;
            height: 80px;
            border-radius: 4px;
            border: 1px solid rgb(204, 204, 204);
            resize: none;
            &:focus {
                border: 1px solid rgb(170, 170, 170);
            }
        }

        &-controls {
            display: flex;
            align-items: center;

            span {
                margin: 0 10px;
                cursor: pointer;
            }
        }

        &-button {
            padding-bottom: 15px;
            text-align: center;
        }

        &-bottom {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;

            &-item {
                margin: 0 10px;
            }
        }
    }

    &__ask {
        padding: 20px;

        &-message {
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        &-options {
            display: flex;
            justify-content: center;

            &-item {
                margin: 0 10px;
                font-size: 18px;
                cursor: pointer;
            }
        }
    }
}