.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        top: 10px;
        bottom: 10px;
        right: 10px;
        border-radius: 20px;
        padding: 10px 20px;
    }

    &__closer {
        position: absolute;
        right: 2px;
        top: 5px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        font-size: 26px;
        z-index: 10;

        @media screen and (min-width: 768px) {
            display: none;
        }

        &:after {
            content: '';
            position: absolute;
            left: -10px;
            top: -10px;
            right: -10px;
            bottom: -10px;
        }

        &:before {
            content: '+';
            transform: rotate(45deg);
            display: inline-block;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 10px;
        margin-top: 20px;

                padding-top: 0;
                @media screen and (min-width: 768px) {
           font-size: 24px; 
           margin-top: 0;
        }
    }

    &__subtitle {
        font-size: 16px;
        line-height: 1.24;
        margin-bottom: 10px;

        @media screen and (min-width: 768px) {
            font-size: 18px;
        }
    }

    &__link {
        color: #1867c0;
        display: inline-block;
        cursor: pointer;

        &:before {
            display: block;
            content: 'Ссылка на митинг';
            text-transform: uppercase;
            font-weight: 500;
        }
    }

    &__reqs {
        margin-top: 15px;

        &-item {
            font-size: 16px;
            line-height: 1.3;
            margin-bottom: 10px;
            position: relative;
            padding-left: 15px;

            &:before {
                content: '';
                width: 4px;
                height: 4px;
                background-color: #000;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__btn {
        margin-top: auto;
        padding-top: 10px;

        a {
            margin-right: 15px;
        }
    }

    &__preview {
        
        &-inner {
            overflow-y: scroll;
            height: calc(var(--app-height) - 70px);

            @media screen and (min-width: 768px) {
                height: calc(var(--app-height) - 80px);
            }
        }
    }

    &__meetings {
        position: relative;

        &-title {
            text-align: center;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 500;
        }

        &-inner {
            overflow-y: scroll;
            height: calc(100vh - 80px);
        }

        &-preloader {
            position: absolute;
            z-index: 2;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #fff;
            opacity: .8;
        }

        &-note {
            font-weight: 500;
            text-align: center;
            padding: 40px 0;
        }
    }
}