.vm-card {

    &__inner {
      width: 220px;
    }
  
    &__content {
      max-height: 168px;
      overflow: hidden;
      position: relative;
      margin-bottom: 10px;
  
      &:after {
        content: '';
        position: absolute;
        left: 0;  
        right: 0;
        bottom: 0;
        height: 20px;
        background: linear-gradient(to top, #fff, rgba(255,255,255,0));
      }
    }
  
    &__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.3;
      margin-bottom: 5px;
    }
  
    &__subtitle {
      opacity: .8;
      line-height: 1.1;
      margin-bottom: 10px;
    }
  
    &__reqs {
      margin-bottom: 10px;
  
      &-item {
        line-height: 1.2;
        padding-left: 10px;
        position: relative;
        margin-bottom: 5px;
  
        &:last-child {
          margin-bottom: 0;
        }
  
        &:before {
          content: '';
          width: 3px;
          height: 3px;
          background-color: #000;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  
    &__join {
      color: #1867c0;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
    }
  
    &__peoples {
      color: #1867c0;
      font-weight: 500;
      display: flex;
      align-items: center;
    }
  
    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }