<template>
  <div>
    <nuxt/>
  </div>
</template>

<style lang='scss'>
* {
  box-sizing: border-box;
  outline: none;
}

:root {
   --app-height: 100%;
}

body {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s, transform .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.linkified {
  color: #1867c0;
}

.theme--light.v-icon {
  color: #000;
}

@import 'assets/styles/btn';
@import 'assets/styles/link';
</style>

