<template lang='pug'>
    div.page
        div(v-if=" $store.state.auth.user.uid ==  'L0TY42fbBofykS9qFiRJfcAPIk02' || $store.state.auth.user.uid ==  'Km007BLvLOeAgMEXoNzus4u6Dhl1' || $store.state.auth.user.uid == 'FAVM97LjXddf8DpZxRoJpcbWMF42' ")
            .m-card(v-for="(meeting, key) in $store.state.meetings.moderateMeetings" v-bind:key='key') 
                .m-card__title {{ meeting.title }}
                .m-card__description {{ meeting.subtitle }}
                .m-card__reqs
                    .m-card__reqs-item(v-for="(req, key) in meeting.reqs" v-bind:key='key') 
                        div {{ req }}
                .m-card__buttons
                    .m-card__button.btn.btn--blue(v-on:click="acceptMeeting(meeting.id)") Accept
                    .m-card__button.btn.btn--red(v-on:click="rejectMeeting(meeting.id)") Reject
</template>

<script>

import {db} from '../main'
import firebase from 'firebase/app'
require('firebase/auth')
require('firebase/database')
import 'firebase/firestore'

export default {
    data() {
        return {

        }
    },

    created() {
        this.$store.dispatch('meetings/loadModerate', 'pending')
        this.$store.dispatch('auth/authStateChange', this.$store.state.auth.authStateChange)
    },

    methods: {
        acceptMeeting(id) {
            let data = {
                id: id,
                status: 'public'
            }
            this.$store.dispatch('meetings/moderateMeeting', data)
        },

        rejectMeeting(id) {
            let data = {
                id: id,
                status: 'rejected'
            }
            this.$store.dispatch('meetings/moderateMeeting', data)
        }
    }
}
</script>

<style lang='scss'>
.m-card {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 20px;

    &__buttons {
        margin-top: 15px;
    }

    &__button {
        margin-right: 10px;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
    }
}
</style>

